**/__pycache__/
cache_debug.log
cache.db
mcp_modules/UIAutomationMCP/*
TOOLS_DOCUMENTATION.md
@AutomationLog.txt
.venv/*
.env
vectordb/
ui_agent_debug.log
llama-server/*
models/*
llm_aliases_cache.json
bookmark_aliases_cache.json
CLAUDE.md
traces/
.claude/*
TODO
webui/app.js
attachments/*
vault/*
vba_corpus.jsonl
js.py
rag_gen.py
vba_corpus.json
